<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917688018866-68jrl4ecibt33c0o9i5u90k7jeudr9s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917688018866-68jrl4ecibt33c0o9i5u90k7jeudr9s2</string>
	<key>API_KEY</key>
	<string>AIzaSyCecC0kJcaWp__Cs2IFNu0Te9KOMg4cUyw</string>
	<key>GCM_SENDER_ID</key>
	<string>917688018866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adrian.FusionYum</string>
	<key>PROJECT_ID</key>
	<string>fusionyum</string>
	<key>STORAGE_BUCKET</key>
	<string>fusionyum.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917688018866:ios:4ff917727590148065e6ab</string>
</dict>
</plist>